<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Victoria Dominguez</title>
	<style type="text/css">
		{% include home.css %}
	</style>

</head>

<body>
	<div id="wrapper">
		<header>
			VICTORIA DOMINGUEZ
		</header>
		<nav>
			<ul>
				<li><a href="default.asp">Home</a></li>
				<li><a href="news.asp">News</a></li>
				<li><a href="https://twitter.com/tori_as_always">Twitter</a></li>
				<li><a href="about.asp">About</a></li>
			</ul>
		</nav>
		<section id="content">
			<article>
				Article
			</article>
		</section>
		<aside>
			Sidebar
		</aside>
		<footer>
			Footer
		</footer>
	</div>
	<script>
		$(document).ready(function () {
			return false;
		});
	</script>
</body>

</html>