<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta charset="utf-8" />
	<title>Victoria Dominguez</title>
	<style type="text/css">
		{% include home.css %}
	</style>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />

	{% seo %}
	<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="manifest" href="/media/site.webmanifest">
    <link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/media/favicon.png">
</head>

<body>
	<div class="navbar">
		<a href="index.html"><b>About</b></a>
		<a href="work.html"><b>Work</b></a>
		<a class="center" href="#"><strong>VICTORIA DOMINGUEZ</strong></a>
		<a href="https://twitter.com/tori_as_always"><b>Twitter</b></a>
		<a href="contact.html"><b>Contact</b></a>
	</div>
	<div class="border">
		<div class="margin"></div>
		<div class="profile">
			<img class="profilepicture" src="media/profile1.jpg" loading=lazy>
			<div class="profiletext">
				<h1>I'm a storyteller with a love for local news and finding the larger issues in smaller stories.</h1>
				<strong>Coming from a family of immigrants and veterans, I lived in various parts of America and
					wherever I went, I
					wanted to learn about how each place got to be where it is now. </strong> <br><br>
				Currently, I am based in North Carolina's Triangle region but am a native of central Florida and an
				alumnus of Florida State
				University. In my spare time, you can find me tending to my small village of houseplants and watching
				true crime.
			</div>
		</div>

	</div>
	<footer class="footer">
	</footer>
	<!-- <div class="">.</div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quam dolor, fringilla quis orci et, venenatis congue
		erat. Mauris scelerisque lorem vel est tristique pulvinar. Maecenas eu sollicitudin ligula. Donec non mauris
		lectus. Sed dignissim mauris eget nisi ultricies tincidunt. Nullam iaculis imperdiet ante in tincidunt. Fusce
		leo ante, vehicula vitae tellus eget, dapibus facilisis mauris. Nunc quis lobortis lorem. Suspendisse eget
		mattis magna. Sed pellentesque turpis eget arcu pulvinar, sit amet placerat velit dictum. Cras posuere, leo nec
		vulputate vestibulum, felis lacus eleifend arcu, a imperdiet augue dui non magna.

		Proin sed convallis massa. Etiam nec pretium nisi, dapibus imperdiet libero. Curabitur pharetra et risus aliquam
		dictum. Quisque vel est vitae lectus commodo ullamcorper quis quis libero. Nam in lacus id ex vestibulum varius
		et dictum quam. Donec eu dignissim velit, ut ornare erat. Nam tincidunt pharetra risus sit amet vulputate.
		Aliquam auctor risus eu diam lacinia bibendum ultricies ut erat.

		Maecenas in nibh ante. Donec at augue mauris. Donec fermentum, arcu quis mattis suscipit, lacus felis malesuada
		lectus, a pretium tellus diam a est. Suspendisse enim justo, congue non pulvinar at, ullamcorper at sapien.
		Aliquam lobortis justo sed nibh sagittis gravida. Quisque sed tortor elementum, efficitur libero sed, auctor
		turpis. Sed semper leo in nisi pulvinar commodo. Sed vitae elit urna. Aliquam luctus tempor feugiat. Aenean
		aliquet, lorem id aliquet vestibulum, urna nisi lobortis enim, et lacinia felis nibh et justo. Cras convallis
		dignissim ipsum, vel pulvinar urna. Quisque viverra justo eget aliquet mattis. Cras tempor sapien non hendrerit
		consectetur. Nam porta ipsum in mi dictum tincidunt.

		Morbi blandit lectus sed enim lacinia, in volutpat est dictum. Maecenas tincidunt velit sed ipsum posuere
		blandit. Donec ultrices eu nisl varius ullamcorper. Vivamus sodales ac sapien sed pretium. Vivamus vitae aliquet
		ligula. Aliquam non pretium metus, id aliquet metus. Nulla sed metus at ipsum ullamcorper tempor eu bibendum
		tortor. Vestibulum justo urna, bibendum ut aliquet sit amet, venenatis sed lacus. Nulla arcu ligula, viverra
		vitae lectus sed, rutrum efficitur mauris. Nullam ultricies urna libero, id dapibus mi ultricies at. Nulla
		facilisi. Aenean vel suscipit neque, eget lacinia lorem. Morbi eu neque sit amet turpis molestie lacinia quis
		sed tellus.

		Nam sagittis hendrerit porttitor. Donec purus nisl, cursus sed maximus id, tempus ac velit. Nulla placerat, enim
		nec blandit posuere, lectus nisi imperdiet enim, et interdum felis ligula vel odio. Quisque interdum nibh et
		accumsan dignissim. Nulla sagittis massa et nibh dapibus sollicitudin id ut purus. Aenean viverra sagittis
		tincidunt. Etiam egestas tortor purus, nec mollis erat fringilla quis. Sed quis dapibus felis. Nulla semper
		sapien lectus, aliquet laoreet urna fringilla sit amet. Quisque dignissim, mi et ullamcorper molestie, eros orci
		tempus nisi, ut sollicitudin libero nisl a arcu. Etiam blandit ultricies efficitur.
	</div>
-->
</body>

</html>