<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta charset="utf-8" />
	<title>Victoria Dominguez</title>
	<style type="text/css">
		{% include home.css %}
	</style>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />

	{% seo %}
	<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
	<link rel="manifest" href="/media/site.webmanifest">
	<link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/media/favicon.png">
</head>

<body>
	<div class="navbar">
		<a href="work.html"><b>Work</b></a>
		<a class="center" href="#"><strong>VICTORIA DOMINGUEZ</strong></a>
		<a href="https://twitter.com/tori_as_always"><b>Twitter</b></a>
	</div>
	<div class="border">
		<div class="margin"></div>
		<div class="profile">
			<img class="profilepicture" src="media/profile1.jpg" loading=lazy>
			<div class="profiletext">
				<h1>I'm a storyteller with a love for local news and finding the larger issues in smaller stories.</h1>
				<strong>Coming from a family of immigrants and veterans, I lived in various parts of America and
					wherever I went, I
					wanted to learn about how each place got to be where it is now. </strong> <br><br>
				Currently, I am based in North Carolina's Triangle region but am a native of central Florida and an
				alumnus of Florida State
				University. In my spare time, you can find me tending to my small village of houseplants and watching
				true crime.
			</div>
		</div>
		<div class="profilebelow">
			<div class="textbelowprofile">
				<b>Beats</b>: local, state and national politics | culture | science | higher education<br>
				You can find me on Twitter @Tori_as_always or shoot me an email at victoria.dominguez98@icloud.com
			</div>
			<div class="companies">
				As seen in:

				<div class="companypictures">
					<img class="companylogo" src="media/wfsu.png" loading=lazy>
					<img class="companylogo" src="media/npr.png" loading=lazy>
					<img class="companylogo" src="media/indyweek.png" loading=lazy>
				</div>
			</div>

		</div>

	</div>
	<footer class="footer">
	</footer>
</body>

</html>