<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta charset="utf-8" />
	<title>Victoria Dominguez Peek</title>
	<style type="text/css">
		{% include home.css %}
	</style>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />

	{% seo %}
	<link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
	<link rel="manifest" href="/media/site.webmanifest">
	<link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/media/favicon.png">
</head>

<body>
	<div class="navbar">
		<a href="work.html"><b>Work</b></a>
		<a class="center" href="#"><strong>victoria dominguez peek</strong></a>
		<a href="https://canva.link/dm54xcuaunrg5bs"><b>Resume</b></a>
	</div>
	<div class="border">
		<div class="margin"></div>
		<div class="profile">
			<img class="profilepicture" src="media/profile1.jpg" loading=lazy>
			<div class="profiletext">
				<h1>Nice to meet you, I'm Victoria. I'm an award-winning journalist and audio producer based in North Carolina.</h1>
				<strong>Currently, I work with various clients to launch, produce, edit, and report for their projects. </strong> <br><br>
				As a producer, I love finding the perfect piece of archival or interview tape to make a story shine. When I'm not working, I play video games or try my hand at a sewing project.
			</div>
		</div>
		<div class="profilebelow">
			<div class="textbelowprofile">
				<b>Beats</b>: local, state and national politics | culture | technology | business<br>
				Do you need help with cutting tape? Someone to edit your audio or video project? A story editor? A reporter? A tape synch in NC, SC, or southern VA? Shoot me an email at victoria.dominguez98@icloud.com 
			</div>
			<div class="companies">
				As seen in:

				<div class="companypictures">
					<img class="companylogo" src="media/wfsu.png" loading=lazy>
					<img class="companylogo" src="media/npr.png" loading=lazy>
					<img class="companylogo" src="media/indyweek.png" loading=lazy>
					<img class="companylogo" src="media/vox.png" loading=lazy>
				</div>
			</div>

		</div>

	</div>
	<footer class="footer">
	</footer>
</body>

</html>